<!DOCTYPE html>
<html>
	<head>
		<title>Tiny URL</title>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="app">
			<div class="m-5 mt-5">
				<div class="row margin-center">
					<div class="col border rounded m-3">
						<div v-if="showError !== ''" class="alert alert-danger text-wrap" role="alert">
							<h3>{{showError}}</hh3>
						</div>
						<h3 class="m-3 text-center">Create tiny url</h3>
						<form class="m-4 needs-validation">
							<div class="form-group mb-3">
							  <label for="log-url">Enter a long URL to make a TinyURLs</label>
							  <textarea type="url" class="form-control" id=log-url" aria-describedby="url" placeholder="Enter long url" v-model="longUrl" required></textarea>
							  <div class="invalid-feedback">Please enter the long url here.</div>
							</div>
							<div class="mb-3">
								<select v-model="baseUrl" class="form-select" aria-label="base url select" required>
									<option  value="0" selected disabled>Select date</option>
									<!-- TODO change it to any live url -->
									<option value="1">localhost</option>
								</select>
							</div>
							<div class="mb-2">
								<button type="submit" class="btn btn-primary me-1 w-100" @click.prevent="submit">Make TinyURL</button>
							</div>
						</form>
					</div>
					<div class="col my-auto m-3">
						<div v-if="showGreeting !== ''">
							<h4>Your Tiny URL is here: </h4>
							<div class="alert alert-success text-wrap" role="alert">
								<h3>{{showGreeting}}</hh3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			const endPoint = "http://localhost:3000/api/v1"
			var app = new Vue({
				el: '#app',
				components: {
				},
				data: {
					showGreeting: '',
					longUrl: '',
					baseUrl: '',
					showError: '',
					baseUrls: ["", "http://localhost:3000"] // TODO base url change and it should take from the config file
				},
				methods: {
					submit(event) {
						if( ! this.validateFormDate(event) || ! this.checkLongUrl()) {
							return
						}
						let formData = {
							longUrl: this.longUrl,
							baseUrl: this.baseUrls[this.baseUrl]
						}
						this.createTinyUrl(formData)
					},
					checkLongUrl() {
						// TODO validate the url
						if(this.longUrl > 500 || this.password < 4) {
							return false;
						}
						return true;
					},
					async postData(url = '', method = 'POST', data = {}) {
						this.showError = "";
						// TODO make a separate file to handle all type of requests
						let res = null;
						await fetch(url, {
							method: method,
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify(data)
						})
						.then(response => {
							if(response.status == 200) {
								return response.json()
							}
							this.showError = "Something went wrong"
							return false
						})
						.then(data => res = data)
						.catch((error) => {
							this.showError = "Something went wrong"
							console.error('Error:', error);
						});
						return res;
					},
					async createTinyUrl(data) {
						let res = await this.postData(endPoint + "/createTinyUrl", "POST", data)
						if(res) {
							this.showGreeting = res.payload.tinyUrl
						}
					},
					//TODO  Move it in common file
					validateFormDate (event) {
						let isSuccess = true;
						'use strict'
						var forms = document.querySelectorAll('.needs-validation')
						Array.prototype.slice.call(forms)
						.forEach(function (form) {
							if (!form.checkValidity()) {
								event.preventDefault()
								event.stopPropagation()
								isSuccess = false
							}
							form.classList.add('was-validated')
						})
						return isSuccess
					}
				}

			})
		</script>
		<style>
			.margin-center {
				margin: 18% 0%;
			}
		</style>
	</body>
</html>
